<a href="https://colab.research.google.com/github/rajsaumyaa/ML_labs/blob/main/Exp5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Experiment 5: Income Classification using Naive-Bayes on Adult Census Dataset**

Objective

To build a classification model (or several models) on the Census/Income dataset to predict individual's income.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn import naive_bayes
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier

In [2]:
features = ["Age", "workclass", "fnlwgt", "Education-Num", "MartialStatus", "Occupation", "Relationship", "Race", "Sex", "CapitalGain", "CapitalLoss", "Hoursperweek", "Country", "Target"]

In [3]:
data_train = pd.read_csv('adult.data', names= features)
data_train.head()

                  Age  workclass  ...         Country  Target
39          State-gov      77516  ...   United-States   <=50K
50   Self-emp-not-inc      83311  ...   United-States   <=50K
38            Private     215646  ...   United-States   <=50K
53            Private     234721  ...   United-States   <=50K
28            Private     338409  ...            Cuba   <=50K

[5 rows x 14 columns]

In [16]:
data_test = pd.read_csv('adult.test', names = features, skiprows=1)
data_test.head()

           Age  workclass         fnlwgt  ...  Hoursperweek         Country   Target
25     Private     226802           11th  ...            40   United-States   <=50K.
38     Private      89814        HS-grad  ...            50   United-States   <=50K.
28   Local-gov     336951     Assoc-acdm  ...            40   United-States    >50K.
44     Private     160323   Some-college  ...            40   United-States    >50K.
18           ?     103497   Some-college  ...            30   United-States   <=50K.

[5 rows x 14 columns]

In [17]:
data_train.shape

(32561, 14)

In [18]:
data_test.shape

(16281, 14)

In [19]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32561 entries, 39 to 52
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            32561 non-null  object
 1   workclass      32561 non-null  int64
 2   fnlwgt         32561 non-null  object
 3   Education-Num  32561 non-null  int64
 4   MartialStatus  32561 non-null  object
 5   Occupation     32561 non-null  object
 6   Relationship   32561 non-null  object
 7   Race           32561 non-null  object
 8   Sex            32561 non-null  object
 9   CapitalGain    32561 non-null  int64
 10  CapitalLoss    32561 non-null  int64
 11  Hoursperweek   32561 non-null  int64
 12  Country        32561 non-null  object
 13  Target         32561 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.7+ MB

In [20]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16281 entries, 25 to 35
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            16281 non-null  object
 1   workclass      16281 non-null  int64
 2   fnlwgt         16281 non-null  object
 3   Education-Num  16281 non-null  int64
 4   MartialStatus  16281 non-null  object
 5   Occupation     16281 non-null  object
 6   Relationship   16281 non-null  object
 7   Race           16281 non-null  object
 8   Sex            16281 non-null  object
 9   CapitalGain    16281 non-null  int64
 10  CapitalLoss    16281 non-null  int64
 11  Hoursperweek   16281 non-null  int64
 12  Country        16281 non-null  object
 13  Target         16281 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.9+ MB

In [21]:
data_train.isnull().sum()

Age              0
workclass        0
fnlwgt           0
Education-Num    0
MartialStatus    0
Occupation       0
Relationship     0
Race             0
Sex              0
CapitalGain      0
CapitalLoss      0
Hoursperweek     0
Country          0
Target           0
dtype: int64

In [22]:
data_test.isnull().sum()

Age              0
workclass        0
fnlwgt           0
Education-Num    0
MartialStatus    0
Occupation       0
Relationship     0
Race             0
Sex              0
CapitalGain      0
CapitalLoss      0
Hoursperweek     0
Country          0
Target           0
dtype: int64

In [24]:
le = LabelEncoder()

**For Train Data**

In [25]:
label = data_train.select_dtypes(include=['object']).columns
for i in label:
  data_train[i] = le.fit_transform(data_train[i].astype(str))

In [26]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32561 entries, 39 to 52
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            32561 non-null  int64
 1   workclass      32561 non-null  int64
 2   fnlwgt         32561 non-null  int64
 3   Education-Num  32561 non-null  int64
 4   MartialStatus  32561 non-null  int64
 5   Occupation     32561 non-null  int64
 6   Relationship   32561 non-null  int64
 7   Race           32561 non-null  int64
 8   Sex            32561 non-null  int64
 9   CapitalGain    32561 non-null  int64
 10  CapitalLoss    32561 non-null  int64
 11  Hoursperweek   32561 non-null  int64
 12  Country        32561 non-null  int64
 13  Target         32561 non-null  int64
dtypes: int64(14)
memory usage: 3.7 MB

In [27]:
data_train.isnull().sum()

Age              0
workclass        0
fnlwgt           0
Education-Num    0
MartialStatus    0
Occupation       0
Relationship     0
Race             0
Sex              0
CapitalGain      0
CapitalLoss      0
Hoursperweek     0
Country          0
Target           0
dtype: int64

**For Test Data**

In [28]:
label1 = data_test.select_dtypes(include=['object']).columns
for i in label1:
  data_test[i] = le.fit_transform(data_test[i].astype(str))

In [29]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16281 entries, 25 to 35
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            16281 non-null  int64
 1   workclass      16281 non-null  int64
 2   fnlwgt         16281 non-null  int64
 3   Education-Num  16281 non-null  int64
 4   MartialStatus  16281 non-null  int64
 5   Occupation     16281 non-null  int64
 6   Relationship   16281 non-null  int64
 7   Race           16281 non-null  int64
 8   Sex            16281 non-null  int64
 9   CapitalGain    16281 non-null  int64
 10  CapitalLoss    16281 non-null  int64
 11  Hoursperweek   16281 non-null  int64
 12  Country        16281 non-null  int64
 13  Target         16281 non-null  int64
dtypes: int64(14)
memory usage: 1.9 MB

In [30]:
data_test.isnull().sum()

Age              0
workclass        0
fnlwgt           0
Education-Num    0
MartialStatus    0
Occupation       0
Relationship     0
Race             0
Sex              0
CapitalGain      0
CapitalLoss      0
Hoursperweek     0
Country          0
Target           0
dtype: int64

**Separation of X and Y Labels of Train Data**

In [31]:
X_train = data_train.iloc[:,0:14]
Y_train = data_train.iloc[:, -1]

**Separation of X and Y Labels of Test Data**

In [32]:
X_test = data_test.iloc[:,0:14]
Y_test = data_test.iloc[:, -1]

**Naive Bayes Model**

In [33]:
Naive_Bayes = naive_bayes.MultinomialNB()

In [36]:
Naive_Bayes.fit(X_train, Y_train)
y_pred = Naive_Bayes.predict(X_test)
Accuracy_of_Naive_Bayes = Naive_Bayes.score(X_test, Y_test)*100
print("Accuracy of Naive Bayes Model:" , Accuracy_of_Naive_Bayes)

Accuracy of Naive Bayes Model: 78.5148332412014

In [37]:
Recall_Score_of_Naive_Bayes = recall_score(Y_test,Y_pred, average = 'macro')*100
print("Recall Score of Naive Bayes is : ", Recall_Score_of_Naive_Bayes)

NameError: name 'Y_pred' is not defined